body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/fonts/BebasNeue-Thin.eot');
    src: url('./assets/fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/BebasNeue-Thin.woff') format('woff'),
        url('./assets/fonts/BebasNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('./assets/fonts/BebasNeueBook.eot');
    src: url('./assets/fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/BebasNeueBook.woff') format('woff'),
        url('./assets/fonts/BebasNeueBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/fonts/BebasNeueBold.eot');
    src: url('./assets/fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/BebasNeueBold.woff') format('woff'),
        url('./assets/fonts/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/fonts/BebasNeueRegular.eot');
    src: url('./assets/fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/BebasNeueRegular.woff') format('woff'),
        url('./assets/fonts/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/fonts/BebasNeueLight.eot');
    src: url('./assets/fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/BebasNeueLight.woff') format('woff'),
        url('./assets/fonts/BebasNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/HelveticaNeueLight.eot');
    src: url('./assets/fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/HelveticaNeueLight.woff') format('woff'),
        url('./assets/fonts/HelveticaNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/HelveticaNeueBlackCond.eot');
    src: url('./assets/fonts/HelveticaNeueBlackCond.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/HelveticaNeueBlackCond.woff') format('woff'),
        url('./assets/fonts/HelveticaNeueBlackCond.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/HelveticaNeueBold.eot');
    src: url('./assets/fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/HelveticaNeueBold.woff') format('woff'),
        url('./assets/fonts/HelveticaNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/HelveticaNeueMedium.eot');
    src: url('./assets/fonts/HelveticaNeueMedium.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/HelveticaNeueMedium.woff') format('woff'),
        url('./assets/fonts/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/HelveticaNeueThin.eot');
    src: url('./assets/fonts/HelveticaNeueThin.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/HelveticaNeueThin.woff') format('woff'),
        url('./assets/fonts/HelveticaNeueThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/HelveticaNeueHeavy.eot');
    src: url('./assets/fonts/HelveticaNeueHeavy.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/HelveticaNeueHeavy.woff') format('woff'),
        url('./assets/fonts/HelveticaNeueHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/HelveticaNeueRegular.eot');
    src: url('./assets/fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/HelveticaNeueRegular.woff') format('woff'),
        url('./assets/fonts/HelveticaNeueRegular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/HelveticaNeueItalic.eot');
    src: url('./assets/fonts/HelveticaNeueItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/HelveticaNeueItalic.woff') format('woff'),
        url('./assets/fonts/HelveticaNeueItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
