.patchCardWrapper {
  font-family: "Bebas Neue";
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.patchCard {
  border: 1px solid black;
  border-radius: 15px;
  width: 25vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 60vh;

}

