.statisticsWrapper {
  font-family: "Helvetica Neue";
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.statisticsHeader {
  font-family: Bebas Neue;
  font-size: 28px;
  margin: 20px;
  margin-bottom: 10px !important;
}

.statWrapper {
  display: flex;
  justify-content: center;
}
.stats {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.statsRow1, .statsRow2, .statsRow3, .statsRow4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
