.statisticsWrapper {
  font-family: "Helvetica Neue";
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.statisticsHeader {
  font-family: Bebas Neue;
  font-size: 28px;
  margin: 20px;
  margin-bottom: 5px !important;
}

.statWrapper {
  margin: 0;
  display: flex;
  justify-content: center;
}

.stats {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.statsRow1, .statsRow2, .statsRow3, .statsRow4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  max-height: 2.75em;
}


.statUpIcon {
  height: 1em;
  width: 1em;
  margin-right: 3px;
  background-image: url('../assets/icons/up.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
}

.statDownIcon {
  height: 1em;
  width: 1em;
  margin-right: 3px;
  background-image: url('../assets/icons/down.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
}

.statNoChangeIcon {
  height: 1em;
  width: 1em;
  margin-right: 3px;
  background-image: url('../assets/icons/nochange.svg');
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
}


.statisticsKey {
  font-size: 14px;
  margin-right: 8px;
  margin-bottom: 15px;

  display: flex;
  align-items: flex-end;
}