.timeline {
  width: 100vw;
}

.timelineOverallWrapper {
  padding: 10px;
  display: flex;
  flex-direction: row;
  height: 98vh;

}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.events {
  bottom: 0;
}

.timelineCardCombo {
  height: 60vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
}

.timelineWrapper {
  width: 60%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  right: 0;
}

.timelinePatchCard {
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 60%;
}

.timelineBar {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;

}

.championHeaderWrapper {
  margin-left: 10px;
  width: 100%;
  display: flex;
}

.noChangesContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  flex: 1 1;
}
.noChanges {
  border: 1px solid black;
  border-radius: 15px;

  padding: 20px;
}