.timeline {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.loadedTimeline {
  display: flex;
  flex-direction: row;
}

.timelineOverallWrapper {
  margin: 10px;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.timelineWrapper {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.championHeaderWrapper {
  margin-left: 10px;
  width: 100%;
  display: flex;
}
